<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.6.2/css/bulma.css"/>
    <link rel="stylesheet" href="popup.css">
  </head>
  <body>
    <div class="container">
      <textarea class="textarea" id="urlTextarea" placeholder="You can enter the URL manually"></textarea>
      <figure class="image is-256x256">
        <div id="qrcodeImg"></div>
      </figure>
    </div>
    <script src="../../assets/js/utils.js"></script>
    <script src="../../assets/js/qrcode.min.js"></script>
    <script src="popup.js"></script>
  </body>
</html>
